.card {
  overflow: hidden;
  border: 0.0625rem solid #dfdedb;
  border-radius: 0.625rem;
  width: 22rem;
  text-align: center;
}

.card__link {
  text-decoration: none;
}

.card-upper {
  position: relative;
  height: 10rem;
}

.card-upper__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-lower {
  flex-direction: column;
  padding: 1rem;
  background-color: white;
}

.card-lower__title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 0.73;
  color: black;
}

.card-lower__subtitle {
  margin: 0.7rem 0 1rem 0;
  font-size: 1rem;
  line-height: 0.6;
  color: #a6a6a6;
}

.card-lower__description {
  margin: 0;
  font-size: 1rem;
  color: black;
}

.card-lower__tags {
  flex-wrap: wrap;
  gap: 0.5rem;
  display: flex;
  margin-top: auto;
  padding-top: 1rem;
}
