.section-heading {
  margin: 2rem;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}

.technical-experience-section {
  margin: 0 auto;
  max-width: calc(3 * (22rem + 2 * 0.0625rem) + 4 * 2rem); /* Width of 3 cards + 2 gaps + 2 paddings */
}
